MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/taskmanager
JWT_SECRET=your_jwt_secret_here
ADMIN_INVITE_TOKEN=your_admin_token_here
PORT=8000
CLIENT_URL=https://your-vercel-app.vercel.app
